<div class="modal" *ngIf="resetPassword">
  <div class="modal-content">
    <form (ngSubmit)="onSubmitResetPassword()" [formGroup]="resetPasswordForm" class="text-center">
      <h2>Redefinir Senha</h2>
      <input type="password" formControlName="password" placeholder="Nova senha" class="input-field">
      <input type="password" formControlName="confirmPassword" placeholder="Confirme a nova senha" class="input-field">
      <button type="submit" class="submit-button">Alterar senha</button>
      <button class="close-button" (click)="close()">Fechar</button>
    </form>
  </div>
</div>