<main class="flex h-screen bg-gray-200">
    <app-sidebar class="max-w-64"></app-sidebar>
    <div class="flex flex-col w-full">
      <toolbar class="w-full"></toolbar>
      <aside class="">
        <section class="search bg-white border-2 border-gray-200 rounded-2xl md:w-96 w-52 flex flex-row justify-center items-center mx-auto px-2 shadow-md shadow-slate-500" >
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (ngModelChange)="onSearchTermChange()"
              placeholder="Buscar pacientes..."
              class="w-full p-2 outline-none md:text-base text-xs"
            />
            <select
              class="md:py-2 py-1 outline-none text-textColor bg-background rounded-2xl md:px-4 px-1 md:text-base text-[8px] flex-grow"
              [(ngModel)]="searchField"
              (ngModelChange)="onSearchTermChange()"
            >
              <option value="nome">Nome</option>
              <option value="telefone">Telefone</option>
              <option value="email">E-mail</option>
            </select>
          </section>
  
        <div *ngFor="let paciente of filteredPacientes">
          <h2>{{ paciente.nome }}</h2>
          <p>{{ paciente.cpf }}</p>
          <p>{{ paciente.numeroConvenio }}</p>
          <p>{{ paciente.convenio }}</p>          
          <button >Detalhes</button>
        </div>
      </aside>
    </div>
  </main>