fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (min-width: 768px) {
    width: 33.333333%;
  }
  margin-top: 1rem;
  font-style: italic;
  font-size: 1rem;
  align-items: center;
}

legend {
  margin: 0 auto;
  color: #ffd700;
}

label {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

input {
  color: black;
  outline: none;
  border-radius: 50px;
  width: 24rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
}
select {
  color: black;
  outline: none;
  border-radius: 50px;
  width: 24rem;
  padding: 0.25rem;
  margin: 0.25rem 0;
}

textarea {
  color: black;
  outline: none;
  border-radius: 50px;
  width: 24rem;
  padding: 0.25rem 2rem;
  margin: 0.25rem 0;
}
.error-message {
  color: #c53030;
  font-weight: 600;
  font-size: 0.65rem;
}

button {
  margin-bottom: 0.5rem;
  border: 2px solid;
  background-color: #014c8b;
  color: #ffd700;
  border-color: #ffd700;
  border-radius: 9999px;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  width: 10rem;
  cursor: pointer;
  margin-top: 2rem;

  &:hover {
    color: #064c8c;
    background-color: #d1d5db;
    border-color: #ffd700;
  }

  &:disabled {
    color: #a9a9a9;
    background-color: #d3d3d3;
    border-color: #a9a9a9;
    cursor: not-allowed;
  }
}
@media (max-width: 768px) {
    input {
      width: 14rem; 
      padding: 0.01rem 0.5rem;
    }
    select{
        width: 14rem; 
      padding: 0.2rem;
    }
    textarea{
        width: 14rem; 
      padding: 0.01rem 0.5rem;
    }
    button{
        width: 8rem;
        margin-top: 0.5rem;
        &:disabled{
            padding: 0.3rem;
        }
    }
  }