<main class="flex h-screen bg-gray-200">
  <app-sidebar class="max-w-64"></app-sidebar>
  <div class="flex flex-col flex-grow">
    <toolbar class="w-full"></toolbar>
    <aside
      class="flex flex-col items-stretch md:p-4 p-1 overflow-auto bg-white md:mx-8 h-screen shadow-md shadow-slate-500 font-roboto"
    >
      <form
        class="flex justify-around flex-wrap md:w-full  md:bg-background bg-blue-800 md:h-screen md:rounded-2xl rounded-md md:px-4 px-1 text-xl text-shadow"
        [formGroup]="formPatient"
      >
        <fieldset>
          <legend>Informações Pessoais</legend>

          <label for="nome">Nome Completo:</label>
          <input type="text" id="nome" formControlName="nome" />
          <div
            *ngIf="
              formPatient.controls.nome.invalid &&
              (formPatient.controls.nome.dirty ||
                formPatient.controls.nome.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.nome.errors.required">
              Preenchimento obrigatório
            </div>
            <div *ngIf="formPatient.controls.nome.errors.minlength">
              Deve ter no mínimo 8 caracteres
            </div>
            <div *ngIf="formPatient.controls.nome.errors.maxlength">
              Deve ter no maximo 64 caracteres
            </div>
          </div>

          <label for="genero">Gênero:</label>
          <select id="genero" formControlName="genero">
            <option value="">Selecione</option>
            <option value="Feminino">Feminino</option>
            <option value="Masculino">Masculino</option>
            <option value="Outro">Outro</option>
            <option value="Prefiro não informar">Prefiro não informar</option>
          </select>
          <div
            *ngIf="
              formPatient.controls.genero.invalid &&
              (formPatient.controls.genero.dirty ||
                formPatient.controls.genero.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.genero.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="nascimento">Data de Nascimento:</label>
          <input type="date" id="nascimento" formControlName="dataNascimento" />
          <div
            *ngIf="
              formPatient.controls.dataNascimento.invalid &&
              (formPatient.controls.dataNascimento.dirty ||
                formPatient.controls.dataNascimento.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.dataNascimento.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" formControlName="cpf" maxlength="14"/>
          <div
            *ngIf="
              formPatient.controls.cpf.invalid &&
              (formPatient.controls.cpf.dirty ||
                formPatient.controls.cpf.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.cpf.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="rg">RG:</label>
          <input type="text" id="rg" formControlName="rg" />
          <div
            *ngIf="
              formPatient.controls.rg.invalid &&
              (formPatient.controls.rg.dirty || formPatient.controls.rg.touched)
            "
            class="error-message"
          > <div *ngIf="formPatient.controls.rg.errors.required">
            Preenchimento obrigatório
          </div>
            <div *ngIf="formPatient.controls.rg.errors.maxlength">
              Deve ter no maximo 20 caracteres
            </div>
          </div>
          <label for="orgaoExpedidor">Orgao Expedidor:</label>
          <input type="text" id="orgaoExpedidor" formControlName="orgaoExpedidor" />
          <div
            *ngIf="
              formPatient.controls.orgaoExpedidor.invalid &&
              (formPatient.controls.orgaoExpedidor.dirty || formPatient.controls.orgaoExpedidor.touched)
            "
            class="error-message"
          >
          <div *ngIf="formPatient.controls.orgaoExpedidor.errors.required">
            Preenchimento obrigatório
          </div>
            <div *ngIf="formPatient.controls.orgaoExpedidor.errors.maxlength">
              Deve ter no maximo 20 caracteres
            </div>
          </div>

          <label for="estadoCivil">Estado Civil:</label>
          <select id="estadoCivil" formControlName="estadoCivil">
            <option value="">Selecione</option>
            <option value="Solteiro(a)">Solteiro(a)</option>
            <option value="Casado(a)">Casado(a)</option>
            <option value="Viuvo(a)">Viuvo(a)</option>
            <option value="Divorciado(a)">Divorciado(a)</option>
            <option value="União Estável">União Estável</option>
          </select>
          <div
            *ngIf="
              formPatient.controls.estadoCivil.invalid &&
              (formPatient.controls.estadoCivil.dirty ||
                formPatient.controls.estadoCivil.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.estadoCivil.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="telefone">Telefone:</label>
          <input type="tel" id="telefone" formControlName="telefone" [maxlength]="16"/>
          <div
            *ngIf="
              formPatient.controls.telefone.invalid &&
              (formPatient.controls.telefone.dirty ||
                formPatient.controls.telefone.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.telefone.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="email">E-mail:</label>
          <input type="email" id="email" formControlName="email" />

          <label for="naturalidade">Naturalidade:</label>
          <input type="text" id="naturalidade" formControlName="naturalidade" />
          <div
            *ngIf="
              formPatient.controls.naturalidade.invalid &&
              (formPatient.controls.naturalidade.dirty ||
                formPatient.controls.naturalidade.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.naturalidade.errors.required">
              Preenchimento obrigatório
            </div>
            <div *ngIf="formPatient.controls.naturalidade.errors.minlength">
              Deve ter no mínimo 8 caracteres
            </div>
            <div *ngIf="formPatient.controls.naturalidade.errors.maxlength">
              Deve ter no maximo 64 caracteres
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Informações Complementares</legend>

          <label for="contatoEmergencia">Contato de Emergência:</label>
          <input
            type="tel"
            id="contatoEmergencia"
            formControlName="contatoEmergencia"
            [maxlength]="16"
          />
          <div
            *ngIf="
              formPatient.controls.contatoEmergencia.invalid &&
              (formPatient.controls.contatoEmergencia.dirty ||
                formPatient.controls.contatoEmergencia.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.contatoEmergencia.errors.required">
              Preenchimento obrigatório
            </div>
          </div>
          <label for="convenio">Convênio:</label>
          <input type="text" id="convenio" formControlName="convenio" />

          <label for="numeroConvenio">Número do Convênio:</label>
          <input
            type="text"
            id="numeroConvenio"
            formControlName="numeroConvenio"
          />
          <div
            *ngIf="
              formPatient.controls.numeroConvenio.invalid &&
              (formPatient.controls.numeroConvenio.dirty ||
                formPatient.controls.numeroConvenio.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.numeroConvenio.errors.maxlength">
              O numero do convenio deve ter no maximo 20 caracteres
            </div>
          </div>

          <label for="validadeConvenio">Validade do Convênio:</label>
          <input
            type="date"
            id="validadeConvenio"
            formControlName="validadeConvenio"
          />
          <label for="alergias">Lista de Alergias:</label>
          <textarea id="alergias" formControlName="listaAlergias"></textarea>
          <label for="cuidados">Lista de Cuidados Específicos:</label>
          <textarea
            id="cuidados"
            formControlName="listaCuidadosEspecificos"
          ></textarea>
        </fieldset>
        <fieldset>
          <legend>Informações de endereço</legend>
            <label for="cep">CEP:</label>
          <input type="text" id="cep" formControlName="cep" maxlength="9"/>
          <div
            *ngIf="
              formPatient.controls.cep.invalid &&
              (formPatient.controls.cep.dirty ||
                formPatient.controls.cep.touched)
            "
            class="error-message"
          >
            <div *ngIf="formPatient.controls.cep.errors.required">
              Preenchimento obrigatório
            </div>
          </div>

          <label for="cidade">Cidade:</label>
          <input type="text" id="cidade" formControlName="cidade" />
          <label for="estado">Estado:</label>
          <input type="text" id="estado" formControlName="estado" />
          <label for="logradouro">Logradouro:</label>
          <input type="text" id="logradouro" formControlName="logradouro" />
          <label for="numero">Número:</label>
          <input type="text" id="numero" formControlName="numero" />
          <label for="complemento">Complemento:</label>
          <input type="text" id="complemento" formControlName="complemento" />
          <label for="bairro">Bairro:</label>
          <input type="text" id="bairro" formControlName="bairro" />
          <label for="referencia">Ponto de Referência:</label>
          <input type="text" id="referencia" formControlName="referencia" />
        </fieldset>
      </form>
      <div class="flex md:flex-row flex-col md:justify-between items-center">
        <button class="salvar" (click)="onSubmit()">Cadastrar</button>
        <button [disabled]="!isEditing" (click)="onSubmit()">Editar</button>
        <button [disabled]="!isEditing || isDeleting" (click)="deletePatient()">
          Deletar
        </button>
      </div>
    </aside>
  </div>
</main>
