<main class="flex h-screen bg-gray-200">
    <app-sidebar class="max-w-64"></app-sidebar>
    <div class="flex flex-col w-full">
      <toolbar class="w-full"></toolbar>
      <aside class="font-roboto shadow-slate-500 shadow-md md:rounded-2xl md:mx-8 md:my-6 bg-white pt-4 overflow-auto h-screen md:items-stretch flex flex-col">
<header>
    <h1>Informações do Paciente</h1>
</header>
<button class="border-2 rounded-full w-10 bg-background">
    <img (click)="back()" src="assets/back-icon.svg" alt="Voltar" width="40" height="40"  >
</button>
<section>
    <h2>Dados Pessoais</h2>
    <div *ngIf="paciente">
        <p>Nome do Paciente: {{ paciente.nome }}</p>
        <p>Convênio: {{paciente.convenio}} </p>
        <p>Contato de Emergência: {{paciente.contatoEmergencia}}</p>
        <p>Lista de Alergias:{{paciente.listaAlergias}} </p>
        <p>Lista de Cuidados Específicos: {{paciente.listaCuidadosEspecificos}}</p>
    </div>
</section>
    <section>
        <h2>Histórico de Consultas</h2>
        <table>
            <thead>
                <tr>
                    <td>Motivo Consulta:</td>
                    <td>Data Consulta:</td>
                    <td>Horario Consulta:</td>
                    <td>Descricao Problema:</td>
                    <td>Medicacao Receitada:</td>
                    <td>Dosagem Precaucoes:</td>
                    <td><button>Editar</button></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of consultas">
                    <td><span>{{ consulta.motivoConsulta }}</span></td>
                    <td><span>{{ consulta.dataConsulta }}</span></td>
                    <td><span>{{ consulta.horarioConsulta }}</span></td>
                    <td>{{ consulta.descricaoProblema }}</td>
                    <td>{{ consulta.medicacaoReceitada }}</td>
                    <td>{{ consulta.dosagemPrecaucoes }}</td>
                    <td><button (click)="editAppoiment(consulta.id)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <section>
        <h2>Histórico de Exames</h2>
        <table>
            <thead>
                <tr>
                    <td>Nome Exame:</td>
                    <td>Data Exame:</td>
                    <td>Horario Exame:</td>
                    <td>Tipo Exame:</td>
                    <td>Laboratorio:</td>
                    <td>urlDocumento:</td>
                    <td>Resultado Exames:</td>
                    <td><button>Editar</button></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exame of exames">
                    <td><span>{{ exame.nomeExame }}</span></td>
                    <td><span>{{ exame.dataExame }}</span></td>
                    <td><span>{{ exame.horarioExame }}</span></td>
                    <td>{{ exame.tipoExame }}</td>
                    <td><span>{{ exame.laboratorio }}</span></td>
                    <td><span>{{ exame.urlDocumento }}</span></td>
                    <td>{{ exame.resultadoExames }}</td>
                    <td><button (click)="editExam(exame.id)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </section>
    </aside>