<main class="flex h-screen bg-gray-200">
  <app-sidebar class="max-w-64"></app-sidebar>
  <div class="flex flex-col flex-grow">
    <toolbar class="w-full"></toolbar>
    <aside class="flex flex-col items-stretch md:p-4 my-4 rounded-3xl overflow-auto bg-white md:mx-8 h-screen shadow-md shadow-slate-500 font-roboto">
      <section  class="mt-2 bg-white border-2 px-4 py-2 border-gray-200 rounded-2xl flex flex-row justify-center items-center mx-auto  shadow-md shadow-slate-500">
        <input
          type="text"
          placeholder="Buscar pacientes..."
          [(ngModel)]="searchTerm"
          (keydown.enter)="onSearchTermChange()"
        />
        <button (click)="onSearchTermChange()">Buscar</button>
      </section>
      <section>
        <div class="bg-background my-4 max-w-2xl p-2 rounded-3xl px-4 text-textColor border-2 border-textColor">
          <p>Consulta de: <span class="text-white">{{ selectedPaciente?.nome }}</span></p>
          <p>CPF: <span class="text-white">{{ selectedPaciente?.cpf }}</span></p>
        </div>
        
        <form [formGroup]="formAppointment" class="flex justify-around py-4 flex-wrap md:w-full md:bg-background bg-blue-800 md:rounded-2xl rounded-md text-xl text-shadow">
          <fieldset>
            <label for="motivoConsulta">Motivo da consulta</label>
            <input
              type="text"
              id="motivoConsulta"
              formControlName="motivoConsulta"
            />
            <label for="dataConsulta">Data da Consulta</label>
            <input
              type="date"
              id="dataConsulta"
              formControlName="dataConsulta"
            />

            <label for="horarioConsulta">Horário da Consulta</label>
            <input
              type="time"
              id="horarioConsulta"
              formControlName="horarioConsulta"
            />

            <label for="descricaoProblema">Descrição do Problema:</label>
            <textarea
              id="descricaoProblema"
              formControlName="descricaoProblema"
            >
            </textarea>
            <label for="medicacaoReceitada">Medicação Receitada</label>
            <input
              type="text"
              id="medicacaoReceitada"
              formControlName="medicacaoReceitada"
            />

            <label for="dosagemPrecaucoes">Dosagem e Precauções</label>
            <textarea id="time" formControlName="dosagemPrecaucoes"> </textarea>
          </fieldset>
        </form>
      </section>

      <div class="mt-6 flex md:flex-row flex-col justify-around">
        <button class="salvar" (click)="onSubmit()">Cadastrar</button>
        <button [disabled]="!consultaId" (click)="onUpdate()">Editar</button>
        <button [disabled]="!consultaId"  (click)="onDelete()">Deletar</button>
      </div>
    </aside>
  </div>
</main>
