<div class="flex h-screen">
    <app-sidebar class="max-w-64"></app-sidebar>
    <div class="flex flex-col w-full">
      <toolbar class="w-full"></toolbar>
      <div class="flex flex-col p-4 overflow-auto">
        <div class="mb-4">
          <input type="text" placeholder="Buscar pacientes..." class="w-full p-2">
          <select class="w-full p-2 mt-2">
            <option value="nome">Nome</option>
            <option value="telefone">Telefone</option>
            <option value="email">E-mail</option>
          </select>
        </div>
        <div class="grid grid-cols-3 gap-4 mb-4">
          <div class="p-4 bg-gray-200">Pacientes cadastrados: {{pacientes.length}} </div>
          <div class="p-4 bg-gray-200">Consultas cadastradas: {{consultas.length}} </div>
          <div class="p-4 bg-gray-200">Exames: {{exames.length}} </div>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <div *ngFor="let paciente of pacientes">
              <img src="icon" alt="icon" class="w-6 h-6">
              <p>nome:{{paciente.nome}} </p>
            <!-- <p>idade:{{paciente.idade}}</p> TODO:CRIAR SERVICE PARA CALCULAR IDADE com base na data de nascimento armazenada no db.json -->
              <p>Contato: {{paciente.telefone}}</p>
              <p>Plano de saude: {{paciente.convenio}}</p>
              <button>Mais informações</button>
            </div>
          </div>
          
      </div>
    </div>
  </div>