<aside class="bg-[#014c8b] max-w-64">
  <section class="flex flex-col justify-start items-start">
    <button>hamburguer</button>
    <button (click)="home()">Estatísticas e Informações</button>
    <button (click)="patientRegistration()">Cadastro de Paciente</button>
    <button (click)="appointments()">Cadastro de Consulta</button>
    <button (click)="exam()">Cadastro de Exame</button>
    <button (click)="medicalListing()">Listagem de Prontuário</button>
    <button (click)="patientListing()">Prontuário de Paciente</button>
    <button (click)="logout()">Sair</button>
  </section>
</aside>
